@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* tends to have the dialog styling and colours */
:root {
    --mid-red: #9f1203;
    --mid-red--translucent: #9b11027e;
    --black-blue: #031927;
    --black-blue--translucent: #03192799;
    --mid-grey: #555;
    --light-grey: #808080;
    --bright-green: #05f505;
    --black-grey: #2d2c2c;
}

html,
body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #c8e0f4;
    height: 100%;
    width: 100%;
    font-family: Ubuntu, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}



#main {
    background-color: var(--mid-red);
    width: 100vw;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;


}

/* z-index of 902 means these will be seen above the map and sharing modal (login, upload and welcome dialogs */
#login-dialog {
    position: absolute;
    top: 15%;
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: fit-content;
    background-color: var(--black-blue--translucent);
    border: 1px solid var(--black-blue);
    border-radius: 8px;
    backdrop-filter: blur(4px);
    text-align: center;
    z-index: 902;


    input[name="phone-number"],
    input[name="display-name"],
    .sms {
        width: 65%;
        height: 2rem;
        padding: 0.5rem;
        border-radius: 5px;
        border: 1px solid var(--mid-grey);
    }

    .sms {
        font-size: 1.5rem;
    }

    h3 {
        width: inherit;
        text-align: center;
        color: white;
    }

    .logo {
        align-self: center;
        width: 80%;
        margin-bottom: 1rem;
        border-radius: 8px;

        @media screen and (min-width: 800px) {
            width: 50%;
        }
    }

    .btn-box {
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .btn {
            background-color: white;
        }

        .btn-icon {
            width: 2rem;
            vertical-align: middle;
            padding: 0.4rem;
        }
    }

    .signup-form {
        margin-top: -2rem;
        color: white;
    }

    label {
        color: white;
    }

}

#upload-dialog {
    background-color: white;
    backdrop-filter: blur(4px);
    border-radius: 8px;
    z-index: 902;
    position: absolute;
    top: 24%;
    display: flex;
    flex-direction: column;
    width: 52vw;
    padding: 1rem;
    height: fit-content;
    border: 1px solid var(--mid-red--translucent);
    text-align: center;


    hr {
        border: 0px;
        border-bottom: 1px solid var(--light-grey);
        width: 100%;
        margin-top: 1rem;
    }

    .code-input {
        padding: 0.5rem;
        min-height: 1.5rem;
        border: 1px solid var(--mid-red--translucent);
        border-radius: 6px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }


    .opendata-info {
        color: var(--light-grey)
    }

    .upload-form {
        display: flex;
        flex-direction: column;
        margin-inline: 1.4rem;
        justify-content: center;
        align-items: center;
        text-align: center;

        h2 {
            margin-top: 0;
        }

        h3 {
            color: var(--mid-red);
            margin: 0 auto;
        }

        h4 {
            color: var(--light-grey);
            margin-bottom: 0.2rem;

        }

        small {
            margin-top: 0;
            margin-bottom: 1rem;
        }

        label {
            margin-bottom: 0.4rem;
        }

        #task-description {
            margin-bottom: 0.8rem;
            min-width: 70%;
            min-height: 1.8rem;

            span {
                color: var(--mid-red);
            }
        }

        .btn-area {
            display: flex;
            flex-direction: row;
            width: 80%;
            justify-content: space-between;

        }
    }

    .code-form {

        .code-error {
            color: var(--mid-red);
            font-size: 0.7rem;
            display: block;
            margin: 0.1rem;
        }

        .btn {
            padding: 0.6rem;
            background-color: var(--mid-red);
            color: white;
            border-color: var(--mid-red--translucent);

            &.check-code {
                border-radius: 6px;
                height: 2.65rem;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }

            &.opendata {
                font-weight: 600;
                font-size: 1rem;
            }
        }
    }

    .btn {
        padding: 0.6rem;
    }

    .grey {
        color: var(--light-grey);
    }
}





#welcome-back {
    position: absolute;
    top: 8%;
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: fit-content;
    border-radius: 8px;
    backdrop-filter: blur(4px);
    text-align: center;
    z-index: 903;
    background-color: #eeeeeeda;
    border: 1px solid #eeeeeeda;

    h3 {
        color: var(--black-blue);
    }


}

#install-dialog {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30%;
    width: 50vw;
    min-height: 40vh;
    border: 1px solid var(--black-blue);
    border-radius: 8px;
    text-align: center;
    justify-content: space-around;
    z-index: 100;
    /* for some reason it's rendering behind the buttons */

    @media screen and (min-width: 700px) {
        width: clamp(28vw, 30vw, 32vw);
    }

    button {
        height: 3rem;
    }

    img {
        object-fit: cover;
        margin-inline: 12%;
        border-radius: 6px;
    }
}


.error-dialog {
    opacity: 0;
    width: 80%;
    margin: auto;
    transition: opacity 1s;

    &.showing {
        opacity: 1;
    }
}

.btn {
    border-radius: 15px;
    font-family: Ubuntu, sans-serif;
    border: 1px solid var(--mid-grey);
    background-color: white;
    box-shadow: 2px 2px 10px -6px rgba(34, 34, 34, 0.7);

    &.confirm {
        color: green;
        border-color: green;

        >svg {
            scale: 1.5
        }
    }

    &.cancel {
        color: var(--mid-red--translucent);
        border-color: var(--mid-red--translucent);
    }
}